#revealed-section {
  height: 100vh;
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #ffe5e4;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#revealed-section-placeholder {
  height: 100vh;
  z-index: -10;
}

.footer-contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 95%;
  padding-top: 15%;
}

.contact-form {
  width: 30%;
}

#new_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 0;
  color: #e6a8a3b5;
}

.form-control {
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  background-color: #ffe5e400;
}

.heading-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.detail-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.last_name,
.phone-form {
  margin-left: 5px;
}

.first_name,
.email-form {
  margin-right: 5px;
}

#header-footer {
  font-size: 3rem;
}

#subhead-footer {
  font-size: 3.3rem;
  font-weight: 900;
}

.btn-form {
  margin-top: 16px;
  padding: 10px 50px;
  border-radius: 50px;
  border: none;
  justify-self: center;
  color: #fff;
  letter-spacing: 3px;
  background-color: #1b1b1be0;
  width: 50%;
  transition: 0.5s all ease-in-out;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 3px 2px rgba(53, 53, 53, 0.089);
    transition: 0.5s all ease-in-out;
  }
}

.contact_message {
  width: 100%;
}

.message-form {
  width: 100%;
}

.white-text {
  color: white;
}

.quick-contact {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 10px;
  color: black;
  p {
    color: #1b1b1b;
  }
}
.quick-details {
  display: flex;
  flex-direction: column;
  p {
    font-weight: 100;
    font-size: 12px;
  }
}

.social-icons {
  color: black;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subhead-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    margin-bottom: 0;
  }
}

.subhead-box:hover {
  path {
    fill: black;
  }
  svg {
    transform: translateX(0);
    transition: 0.5s all ease;
    fill: black;
  }
}

.subhead-box svg {
  transform: translateX(-25px);
  transition: 0.5s all ease;
}

.fab {
  font-size: 2rem;
}

@media (max-width: 945px) {
  .footer-contact {
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
  }
  .start-project {
    margin-bottom: 42px;
  }
  .contact-form {
    width: 57%;
  }
  .subhead-box svg {
    transform: rotate(90deg);
  }
}

@media (max-width: 680px) {
  .contact-form {
    width: 78%;
  }
}

@media (max-width: 550px) {
  .contact-form {
    width: 95%;
  }
  #header-footer {
    font-size: 2.7rem;
  }

  .start-project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subhead-box {
    width: 90%;
  }
}

@media (max-width: 490px) {
  #header-footer {
    font-size: 2.4rem;
  }
  #subhead-footer {
    font-size: 3rem;
  }
}

@media (max-width: 430px) {
  #header-footer {
    font-size: 2.2rem;
  }
  #subhead-footer {
    font-size: 2.5rem;
  }
  .quick-contact {
    padding: 0 20px;
  }
}

@media (max-width: 400px) {
  #header-footer {
    font-size: 2rem;
  }
  #subhead-footer {
    font-size: 2.2rem;
    svg {
      width: 37px;
    }
  }
  .contact-form label {
    font-size: 14px;
  }
}

@media (max-width: 400px) and (min-height: 800px) {
  .footer-contact {
    padding-top: 168px;
  }

  .fab {
    font-size: 1.5rem;
  }
  .social-icons {
    width: 35%;
  }
}

@media (max-width: 800px) and (min-height: 800px) {
  .footer-contact {
    padding-top: 250px;
  }
}
