.section-three h2,
h3,
p {
  color: #fff;
  font-family: $poppins;
}

.section-three {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  // min-height: 150vh;
}

.border-header {
  width: 0%;
  height: 16px;
  background-color: #fff;
  margin-left: 1.8%;
  margin-top: 2rem;
}

.border-project {
  width: 0%;
  height: 16px;
  background-color: #fff;
}
.portfolio-header {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all ease-in-out;
}

.portfolio-overview {
  margin-left: 1.8%;
}

.project h3 {
  font-weight: 800;
  font-size: 2.8rem;
  margin: 2rem 0;
  // color: #f5fff4;
}

.project svg {
  margin-bottom: 2.5rem;
}

.project-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-info h2 {
  margin-bottom: 2.5rem;
  font-weight: 800;
  font-size: 5rem;
  color: #f5fff4;
}

.project-one {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all ease-in-out;
  h2,
  h3 {
    color: #f5fff4;
  }
}

.project-two {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all ease-in-out;
  h2,
  h3 {
    color: #e2eeff;
  }
}

.project-three {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all ease-in-out;
  h2,
  h3 {
    color: #ffeefd;
  }
}

.appear-portfolio {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s all ease-in-out;
}
.border-full {
  width: 97%;
  transition: 0.4s all linear;
}
@media (max-width: 850px) {
  .portfolio-header svg {
    width: 740px;
  }

  .section-three {
    h2 {
      font-size: 5rem;
    }
  }
}

@media (max-width: 780px) {
  .portfolio-header svg {
    width: 500px;
  }

  .section-three {
    h3 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 3.5rem;
    }
  }
  .project-arrow svg {
    width: 76px;
  }
}

@media (max-width: 500px) {
  .section .container {
    // min-height: 80vh;
  }
  .portfolio-header svg {
    width: 350px;
  }
  .section-three {
    h3 {
      font-size: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
    h2 {
      font-size: 2.5rem;
      margin: 0;
    }
  }

  .portfolio-header {
    margin-bottom: 24px;
  }

  .border-header {
    margin-top: -16px;
    margin-bottom: 16px;
  }
  .border-project {
    margin-bottom: 24px;
  }
  .project-arrow svg {
    width: 46px;
    margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  .portfolio-header svg {
    width: 300px;
  }
}
