.section-five {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}

.services-header svg {
  margin-bottom: 10vh;
}

.service-web {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-left: 5%;
  // margin-right: -5%;
  // margin-bottom: 30vh;
}
.web-desc {
  width: 30%;
  position: absolute;
  left: 100px;
  opacity: 0;
  transform: translateY(50px);
  transition: 1.5s all ease-in-out;
}

.services-header {
  color: white;
  font-size: 47px;
  font-weight: 800;
  font-family: $poppins;
  letter-spacing: 3px;
  transition: 0.5s all linear;
}

#container {
  width: 100vw;
  height: 100vh;
  // padding-right: 27%;
}
#container:focus {
  outline: none;
}

#canvas3d {
  width: 130% !important;
  height: 100% !important;
  padding-right: 150px;
}

#canvas3d:focus {
  outline: none;
}

.design-desc {
  display: flex;
  justify-content: space-between;
}

.web-design-content {
  position: absolute;
  width: 30%;
  margin-right: 0;
  right: 243px;
  top: 333px;
  opacity: 0;
  transform: translateY(50px);
  transition: 1.5s all ease-in-out;
}

#containertwo {
  width: 100vw;
  height: 110vh;
  // padding-right: 30%;
}

.service-design {
  position: relative;
}
.app-text-appear {
  opacity: 1;
  transform: translateY(0);
}
.header-invis {
  opacity: 0;
  transform: translateY(20px);
}

@media (max-width: 1065px) {
  .section-five svg {
    width: 736px;
  }

  .section-five {
    margin-top: 17vh;
  }
  .services-header {
    font-size: 34px;
  }

  .web-desc {
    left: 39px;
    width: 40%;
  }

  .web-design-content {
    right: 72px;
    top: 363px;
    width: 40%;
  }

  .web-desc p {
    font-size: 14px;
  }

  .design-desc p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .section-five svg {
    width: 600px;
    margin-bottom: 0px;
  }
  .services-header {
    font-size: 29px;
  }

  .web-desc p {
    font-size: 13px;
  }

  .design-desc p {
    font-size: 13px;
  }

  .web-desc {
    left: 16px;
    width: 42%;
  }
  .web-design-content {
    right: 8px;
    width: 44%;
    top: 161px;
  }

  .design-desc iframe {
    width: 124%;
  }

  #containertwo {
    height: 70vh;
  }
}

@media (max-width: 675px) {
  .section-five {
    margin-top: 5vh;
  }
}

@media (max-width: 565px) {
  .section-five svg {
    width: 350px;
  }
  .web-desc {
    width: 65%;
  }
  .web-design-content {
    width: 55%;
    top: 171px;
  }
  .design-desc p {
    font-weight: 600;
  }
  #container {
    height: 90vh;
  }
  #containertwo {
    height: 90vh;
  }
}

@media (max-width: 400px) {
  .section-five svg {
    width: 350px;
    margin-bottom: 0;
  }
  .web-desc {
    width: 95%;
    // top: 125px;
  }

  .web-design-content {
    width: 95%;
    top: 50px;
  }

  .design-desc iframe {
    width: 177%;
  }
}

@media (max-width: 330px) {
  .section-five svg {
    width: 265px;
    margin-bottom: 0;
  }
}
