<div class="section">
  <div class="shadow"></div>
  <div class="container intro-banners hover">
    <%= cl_image_tag("personal-profile/Stack_1_ualzdm.png", class: "top-stack slide-in")%>
    <%= cl_image_tag("personal-profile/Stack_2_lzb2ng.png", class: "second-stack")%>
    <%= cl_image_tag("personal-profile/Stack_3_af5fd3.png", class: "third-stack")%>
    <%= cl_image_tag("personal-profile/Stack_4_bsf6xo.png", class: "fourth-stack")%> 
  </div>
</div>