<div class="skill-modal skill-layout" id="ruby-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">RUBY</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>
        

<div class="skill-modal skill-layout" id="rubyrails-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">RUBY ON RAILS</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="react-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">REACT</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="js-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">JAVASCRIPT</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="css-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">CSS</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>


<div class="skill-modal skill-layout" id="threed-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">3D DESIGN</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="bootstrap-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">BOOTSTRAP</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="github-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">GITHUB</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="heroku-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">HEROKU</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="photoshop-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">PHOTOSHOP</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="html-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">HTML</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="matlab-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">MATLAB</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="node-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">NODE</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="uiux-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">UI/UX</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>

<div class="skill-modal skill-layout" id="postgresql-skill">
  <div class="modal-header-skill">
    <h4 class="skill-title">POSTGRESQL</h4>
    <p class="exit">
      <svg width="72" height="65" viewBox="0 0 52 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7055 44.8464H51.1655L36.7055 23.1564L51.1655 1.46643H36.7055L22.2455 23.1564L36.7055 44.8464ZM15.0161 44.8464L29.4761 44.8464L15.0161 23.1564L29.4761 1.46643L15.0161 1.46643L0.556129 23.1564L15.0161 44.8464Z" fill="white"/>
      </svg>
    </p>
  </div>
  <p>
    Long live Ruby! Ruby is my primary language. It's a beautifully simple language that is easy to read and understand. 
  </p>
</div>