<div class="section-four" >

  <div class="skills-header"  id="skills">
    <svg width="761" height="152" viewBox="0 0 761 152" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M196.219 151.279C185.067 151.279 175.909 148.649 168.747 143.391C161.584 138.041 157.731 130.425 157.187 120.543H185.611C185.883 123.897 186.88 126.345 188.603 127.887C190.325 129.428 192.547 130.199 195.267 130.199C197.715 130.199 199.709 129.609 201.251 128.431C202.883 127.161 203.699 125.439 203.699 123.263C203.699 120.452 202.384 118.276 199.755 116.735C197.125 115.193 192.864 113.471 186.971 111.567C180.715 109.481 175.637 107.487 171.739 105.583C167.931 103.588 164.576 100.732 161.675 97.0148C158.864 93.2068 157.459 88.2654 157.459 82.1908C157.459 76.0254 159 70.7668 162.083 66.4148C165.165 61.9721 169.427 58.6174 174.867 56.3508C180.307 54.0841 186.472 52.9508 193.363 52.9508C204.515 52.9508 213.4 55.5801 220.019 60.8388C226.728 66.0068 230.309 73.3054 230.763 82.7348H201.795C201.704 79.8334 200.797 77.6574 199.075 76.2068C197.443 74.7561 195.312 74.0308 192.683 74.0308C190.688 74.0308 189.056 74.6201 187.787 75.7988C186.517 76.9774 185.883 78.6548 185.883 80.8308C185.883 82.6441 186.563 84.2308 187.923 85.5908C189.373 86.8601 191.141 87.9934 193.227 88.9908C195.312 89.8974 198.395 91.0761 202.475 92.5268C208.549 94.6121 213.536 96.6974 217.435 98.7828C221.424 100.777 224.824 103.633 227.635 107.351C230.536 110.977 231.987 115.601 231.987 121.223C231.987 126.935 230.536 132.057 227.635 136.591C224.824 141.124 220.699 144.705 215.259 147.335C209.909 149.964 203.563 151.279 196.219 151.279ZM305.851 150.327L275.795 108.303V150.327H249.139V54.4468H275.795V95.7908L305.579 54.4468H336.315L301.091 100.959L338.083 150.327H305.851ZM379.234 54.4468V150.327H352.578V54.4468H379.234ZM425.83 129.927H455.614V150.327H399.174V54.4468H425.83V129.927ZM497.395 129.927H527.179V150.327H470.739V54.4468H497.395V129.927ZM578.48 151.279C567.328 151.279 558.17 148.649 551.008 143.391C543.845 138.041 539.992 130.425 539.448 120.543H567.872C568.144 123.897 569.141 126.345 570.864 127.887C572.586 129.428 574.808 130.199 577.528 130.199C579.976 130.199 581.97 129.609 583.512 128.431C585.144 127.161 585.96 125.439 585.96 123.263C585.96 120.452 584.645 118.276 582.016 116.735C579.386 115.193 575.125 113.471 569.232 111.567C562.976 109.481 557.898 107.487 554 105.583C550.192 103.588 546.837 100.732 543.936 97.0148C541.125 93.2068 539.72 88.2654 539.72 82.1908C539.72 76.0254 541.261 70.7668 544.344 66.4148C547.426 61.9721 551.688 58.6174 557.128 56.3508C562.568 54.0841 568.733 52.9508 575.624 52.9508C586.776 52.9508 595.661 55.5801 602.28 60.8388C608.989 66.0068 612.57 73.3054 613.024 82.7348H584.056C583.965 79.8334 583.058 77.6574 581.336 76.2068C579.704 74.7561 577.573 74.0308 574.944 74.0308C572.949 74.0308 571.317 74.6201 570.048 75.7988C568.778 76.9774 568.144 78.6548 568.144 80.8308C568.144 82.6441 568.824 84.2308 570.184 85.5908C571.634 86.8601 573.402 87.9934 575.488 88.9908C577.573 89.8974 580.656 91.0761 584.736 92.5268C590.81 94.6121 595.797 96.6974 599.696 98.7828C603.685 100.777 607.085 103.633 609.896 107.351C612.797 110.977 614.248 115.601 614.248 121.223C614.248 126.935 612.797 132.057 609.896 136.591C607.085 141.124 602.96 144.705 597.52 147.335C592.17 149.964 585.824 151.279 578.48 151.279Z" fill="url(#paint0_linear)"/>
      <path d="M186.219 151.279C175.067 151.279 165.909 148.649 158.747 143.391C151.584 138.041 147.731 130.425 147.187 120.543H175.611C175.883 123.897 176.88 126.345 178.603 127.887C180.325 129.428 182.547 130.199 185.267 130.199C187.715 130.199 189.709 129.609 191.251 128.431C192.883 127.161 193.699 125.439 193.699 123.263C193.699 120.452 192.384 118.276 189.755 116.735C187.125 115.193 182.864 113.471 176.971 111.567C170.715 109.481 165.637 107.487 161.739 105.583C157.931 103.588 154.576 100.732 151.675 97.0148C148.864 93.2068 147.459 88.2654 147.459 82.1908C147.459 76.0254 149 70.7668 152.083 66.4148C155.165 61.9721 159.427 58.6174 164.867 56.3508C170.307 54.0841 176.472 52.9508 183.363 52.9508C194.515 52.9508 203.4 55.5801 210.019 60.8388C216.728 66.0068 220.309 73.3054 220.763 82.7348H191.795C191.704 79.8334 190.797 77.6574 189.075 76.2068C187.443 74.7561 185.312 74.0308 182.683 74.0308C180.688 74.0308 179.056 74.6201 177.787 75.7988C176.517 76.9774 175.883 78.6548 175.883 80.8308C175.883 82.6441 176.563 84.2308 177.923 85.5908C179.373 86.8601 181.141 87.9934 183.227 88.9908C185.312 89.8974 188.395 91.0761 192.475 92.5268C198.549 94.6121 203.536 96.6974 207.435 98.7828C211.424 100.777 214.824 103.633 217.635 107.351C220.536 110.977 221.987 115.601 221.987 121.223C221.987 126.935 220.536 132.057 217.635 136.591C214.824 141.124 210.699 144.705 205.259 147.335C199.909 149.964 193.563 151.279 186.219 151.279ZM295.851 150.327L265.795 108.303V150.327H239.139V54.4468H265.795V95.7908L295.579 54.4468H326.315L291.091 100.959L328.083 150.327H295.851ZM369.234 54.4468V150.327H342.578V54.4468H369.234ZM415.83 129.927H445.614V150.327H389.174V54.4468H415.83V129.927ZM487.395 129.927H517.179V150.327H460.739V54.4468H487.395V129.927ZM568.48 151.279C557.328 151.279 548.17 148.649 541.008 143.391C533.845 138.041 529.992 130.425 529.448 120.543H557.872C558.144 123.897 559.141 126.345 560.864 127.887C562.586 129.428 564.808 130.199 567.528 130.199C569.976 130.199 571.97 129.609 573.512 128.431C575.144 127.161 575.96 125.439 575.96 123.263C575.96 120.452 574.645 118.276 572.016 116.735C569.386 115.193 565.125 113.471 559.232 111.567C552.976 109.481 547.898 107.487 544 105.583C540.192 103.588 536.837 100.732 533.936 97.0148C531.125 93.2068 529.72 88.2654 529.72 82.1908C529.72 76.0254 531.261 70.7668 534.344 66.4148C537.426 61.9721 541.688 58.6174 547.128 56.3508C552.568 54.0841 558.733 52.9508 565.624 52.9508C576.776 52.9508 585.661 55.5801 592.28 60.8388C598.989 66.0068 602.57 73.3054 603.024 82.7348H574.056C573.965 79.8334 573.058 77.6574 571.336 76.2068C569.704 74.7561 567.573 74.0308 564.944 74.0308C562.949 74.0308 561.317 74.6201 560.048 75.7988C558.778 76.9774 558.144 78.6548 558.144 80.8308C558.144 82.6441 558.824 84.2308 560.184 85.5908C561.634 86.8601 563.402 87.9934 565.488 88.9908C567.573 89.8974 570.656 91.0761 574.736 92.5268C580.81 94.6121 585.797 96.6974 589.696 98.7828C593.685 100.777 597.085 103.633 599.896 107.351C602.797 110.977 604.248 115.601 604.248 121.223C604.248 126.935 602.797 132.057 599.896 136.591C597.085 141.124 592.96 144.705 587.52 147.335C582.17 149.964 575.824 151.279 568.48 151.279Z" fill="white"/>
      <defs>
      <linearGradient id="paint0_linear" x1="385.095" y1="61.6678" x2="385.095" y2="148.594" gradientUnits="userSpaceOnUse">
      <stop stop-color="#D59FFF"/>
      <stop offset="1" stop-color="#00759A"/>
      </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="skills-content">
    <%= render "shared/modals" %>

    <div class="skill skills-one" id="skills-one">
      <h3 id="ruby">RUBY.</h3>
      <h3 class="ruby-rails" id="rubyrails">RUBY ON RAILS.</h3>
      <h3 id="react">REACT.</h3>
    </div>
    <div class=" skill skills-two">
      <h3 id="javascript">JAVASCRIPT.</h3>
      <h3 id="css">CSS.</h3>
      <h3 id="threeddesign">3D DESIGN.</h3>
    </div>
    <div class="skill skills-three">
      <h3 id="bootstrap">BOOTSTRAP.</h3>
      <h3 id="github">GITHUB.</h3>
      <h3 id="heroku">HEROKU.</h3>
    </div>
    <div class="skill skills-four">
      <h3 id="photoshop">PHOTOSHOP.</h3>
      <h3 id="html">HTML5.</h3>
      <h3 id="matlab">MATLAB.</h3>
    </div>
    <div class="skill skills-five">
      <h3 id="node">NODE.JS.</h3>
      <h3 id="uiux">UI/UX.</h3>
      <h3 id="postgresql">POSTGRESQL.</h3>
    </div>
  </div>
  
</div>