nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 30;
  // background: linear-gradient(to bottom, rgba(0, 0, 0, 0, 0.05), transparent);
}
nav {
  position: fixed;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  width: 1.55rem;
  height: 1.5rem;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.bar {
  position: relative;
  width: 1.2rem;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 1.55rem;
  height: 3px;
  right: 0;
  background-color: #fff;
  border-radius: 2px;
}

.bar:before {
  transform: translateY(-8px);
}
.bar:after {
  transform: translateY(8px);
}
