.intro-banners {
  width: 80%;
}

.top-stack {
  position: absolute;
  left: 80px;
  top: 256.63px;
  // transform: translateX(-900px);
}

.second-stack {
  position: absolute;
  left: 460.56px;
  top: 371.57px;
  overflow: hidden;
}

.third-stack {
  position: absolute;
  left: 40.89px;
  top: 524.31px;
}

.fourth-stack {
  position: absolute;
  left: 400.11px;
  top: 635.45px;
}
